@import url('font-awesome.min.css');
@import url('museo_slab.css');
@import url(http://fonts.googleapis.com/css?family=Lobster);

/*-----------------------
	General
------------------------*/

body, div, input, li, p, ul, button{
	font-family: 'museo_slab', serif;
	line-height: normal;
}
h1,h2,h3,h4,h5{
	font-family: 'Lobster', cursive;
	font-weight: normal;
}
h1{
	text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
}
h2,h3,h4,h5{
	text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}
a {
	text-decoration: none; 
	color:#f2f2f2;
}
a:hover{
	color:#96af5b;
	text-decoration: none;
}
body{
	background: url('../img/bg1.png');
}

form{
	margin-top: 10px;
}

ul{
	list-style: none;
	margin:0;
}

input{
	width: 300px;
}

/*-----------------------
	Common
------------------------*/

.content{padding-top: 90px;} /*Because of the fixed positioned top-bar we need this*/
.content-holder{
	background: url('../img/bg.png');
	margin-top: 5px;
	margin-bottom: 15px;
	border-radius: 5px;
	-webkit-box-shadow: 0 8px 6px -6px #000;
  	-moz-box-shadow: 0 8px 6px -6px #000;
  	box-shadow: 0 8px 6px -6px #000;
  	padding: 20px 0 10px 0;
}

/*-----------------------
	Top-bar/menu
------------------------*/

.menu-top{
	background: url('../img/bg.png');
 	border-bottom: 3px solid #96af5b;;
 	padding: 10px;
 	-webkit-box-shadow: 0 8px 6px -6px #444;
  	-moz-box-shadow: 0 8px 6px -6px #444;
  	box-shadow: 0 8px 6px -6px #444;
}
.menu-top .logo{
	font-family: 'Lobster', cursive;
	text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
	font-size: 2.3em;
	color:#96af5b;
	margin-top: 10px;
}
.menu-top .logo a{
	color:#96af5b;
}
.menu-top .menu-icons{
	margin:10px 0px 0px 35px;
	color:whitesmoke;
	float:right;
}

.search{

}

#show-search, 
#show-login{
	display: none;
	padding: 20px;
	margin: 20px;
}

#search_string{
	height:35px;
	width:300px;
}

/*-----------------------
	Home/index
------------------------*/

.home-menu{	
	font-size: 1.5em;
	padding: 20px 15px 0px 15px;
	height:45px;
}
.home-menu i{
	color:#96af5b;
	float:right;
}
.home-search {
	font-size: 0.9em;
	color:rgb(43, 43, 43);
	height:28px;
	border-radius: 5px;
	border:none;
}

/*-----------------------
	Content
------------------------*/
.group-holder{
	background: whitesmoke;
	padding:5px 20px 5px 20px;
	margin-top: 5px;
	margin-bottom: 15px;
	border-radius: 5px;
	-webkit-box-shadow: 0 8px 6px -6px #000;
  	-moz-box-shadow: 0 8px 6px -6px #000;
  	box-shadow: 0 8px 6px -6px #000;
}

.group-holder form{
	margin-bottom: 5px;
}
.pub-info .small-rating{
	color:rgb(51, 51, 51);
}

.pub-head .big-rating{
	display:inline-table;
	margin-right: 20px;
}

.pub-head h1{
	display:inline-table;
}

.pub-info i{
	color:#96af5b;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
	margin-right: 5px;
}
.pub-info .pub-text{
	margin: 10px 0;
}

/*-----------------------
	Pub-lists
------------------------*/
.top-list{

}
ol.top-list{
	counter-reset: li; /* Initiate a counter */
	list-style: none; /* Remove default numbering */
	*list-style: decimal; /* Keep using default numbering for IE6/7 */
}
.top-list li,
.pub-list li{
	background: url('../img/bg.png');
	position: relative;
	margin-top: 5px;
	margin-bottom: 15px;
	border-radius: 5px;
	-webkit-box-shadow: 0 8px 6px -6px #000;
  	-moz-box-shadow: 0 8px 6px -6px #000;
  	box-shadow: 0 8px 6px -6px #000;
  	padding: 5px 0 5px 0;
}

.top-list a,
.pub-list a{
	position: relative;
	display: block;
	padding: .4em .4em .4em 2em;
	*padding: .4em;
	margin: .5em 0;
	text-decoration: none;
	border-radius: .3em;
}

.top-list a:hover:before{
    background: #96af5b;
    color:whitesmoke;
}
.top-list a:before{
	content: counter(li);
	counter-increment: li;
	position: absolute;	
	left: -1.3em;
	top: 50%;
	margin-top: -1.3em;
	background: url('../img/bg.png');
	height: 2em;
	width: 2em;
	line-height: 2em;
	border: .3em solid whitesmoke;
	text-align: center;
	font-weight: bold;
	border-radius: 2em;
	-webkit-box-shadow: 5px 5px 6px -6px #000;
  	-moz-box-shadow: 5px 5px 6px -6px #000;
  	box-shadow: 5px 5px 6px -6px #000;
}

.top-list .small-rating{
	position:absolute;
	right:3px;
	z-index: 50;
	top:5px;
}

/*-----------------------
	Rating
------------------------*/

.pub-rating{
	margin-bottom: 10px;
	height:30px;
}
.star-rating-control{
	display:block;
}
.rate-button a {
	display: block;
}

.big-rating{
	width: 59px;
	background: url('../img/rating-star.png') no-repeat;
	padding: 30px 0 18px 0;
	text-align: center;
	font-size: 16px;
/*	display:inline-block;
	float:right;*/
}

.small-rating{
	background: url('../img/rating-star.png') no-repeat 0px -69px;
	width: 41px;
	padding: 15px 0;
	text-align: center;
	display:inline-block;
}

.category-rating{
	margin: 10px 0;
}

.category-rating .cat-name{
	display: inline-block;
	font-weight: bold;
	width: 100px;
}

.ratings a, .ratings i{
	color: #800000;
	margin-bottom: 20px;
	margin-right: 10px;
	display:inline-block;
}
.rate-message{
	color: #337109;
}	 
/*-----------------------
	Buttons - Login, rating, comment
------------------------*/

.login-signup input[type="submit"], 
.ratings input[type="submit"],
.comment-form input[type="submit"],
.logout-button, 
.user-buttons, 
.rate-button{
	border:none;
	margin-top: 5px;
	margin-bottom: 15px;
	border-radius: 5px;
	text-align: center;
	-webkit-box-shadow: 0 8px 6px -6px #000;
  	-moz-box-shadow: 0 8px 6px -6px #000;
  	box-shadow: 0 8px 6px -6px #000;
  	padding:12px;
}
.login-signup input[type="submit"], 
.ratings input[type="submit"],
.comment-form input[type="submit"],
.logout-button, 
.rate-button{
 	background: url('../img/bg.png');
 	color:whitesmoke;
}

.login-signup input[type="submit"]:hover, 
.ratings input[type="submit"]:hover,
.comment-form input[type="submit"]:hover,
.logout-button:hover, 
.user-buttons:hover, 
.rate-button:hover{
	-webkit-box-shadow: 0 8px 6px -6px #96af5b;
  	-moz-box-shadow: 0 8px 6px -6px #96af5b;
  	box-shadow: 0 8px 6px -6px #96af5b;
  	color: #96af5b;
}
.user-buttons, .search{
	background: whitesmoke;
	margin-right: 20px;
	display:inline;
}
.user-buttons a, 
.user-buttons i, 
.user-buttons a{
	color:rgb(51, 51, 51);
}
.user-buttons i, 
.logout-button i{
	margin-right: 10px;
}
.rate-button{
	width:110px;
}

/*-----------------------
	Login/signup
------------------------*/
.user-email{
	color:whitesmoke;
	margin-bottom: 15px;
	height:25px;
}

.error, .notification{
	color: #800000;
	font-size: 12px;
} 
.error i, .notification i, .notification-signup i{
	margin-right:10px;
}
.notification-signup{
	color: #337109; 
	font-size: 12px;
}
.login-signup span label{
	font-weight: bold;
}
.login-signup input[type="text"], 
.login-signup input[type="password"]{
	height:35px;
}

/*-----------------------
	User dashboard
------------------------*/

.dashboard .span6{
	background: whitesmoke;
	border-radius: 5px;
	-webkit-box-shadow: 0 8px 6px -6px #000;
  	-moz-box-shadow: 0 8px 6px -6px #000;
  	box-shadow: 0 8px 6px -6px #000;
}

.dashboard .span6 ul, 
.dashboard .span6 h3, 
.dashboard .span6 p{
	padding:0 20px 5px;
}

.dashboard .span6 a{
	color:rgb(51,51,51);
}

.dashboard .span6 a:hover{
	color: #96af5b;	
}
.dashboard li{
	margin-bottom: 10px;
}
.date{
	font-size: 11px;
	display:block;
	color: #96af5b;	

}
.icon-star{
	color:rgb(236,188,70);
}

.comment-list .icon-comment{
	color: #96af5b;	
}
/*-----------------------
	Comments
------------------------*/
.comment-form{

}

.comment-text{
	width:100%;
	height:80px;
}

.comment{
	background:whitesmoke;
	border-radius: 5px; 
	padding:5px 10px;
	margin-bottom: 10px;
	-webkit-box-shadow: 0 8px 6px -6px #000;
  	-moz-box-shadow: 0 8px 6px -6px #000;
  	box-shadow: 0 8px 6px -6px #000;
}
.comment h4{
	border-bottom: 1px solid #96af5b;
	margin-bottom: 5px;
	padding-bottom:5px;
}
.comment i{
	margin-right:10px;
}
.comment-date{
	color: #96af5b;
	font-size: 12px;
	display:block;
	margin-bottom: 5px;
}

.success-msg{
	font-size: 16px;
	color: #337109; 
}
.error-msg{
	font-size: 16px;
	color: #800000;
}

/*-----------------------
	Footer
------------------------*/
footer{
	margin-top:30px;
	color:whitesmoke;
}

/*-----------------------
	Styles for smaller devices
------------------------*/

@media (max-width: 767px){
	.content{
		padding-top: 5px;
	}
}
@media (min-width: 768px) and (max-width: 979px){
	.content{
		padding-top: 5px;
	}
}